<section class="content" id="about">
  <div class="block-content">
    <h3 class="block-title">Profile</h3>
    <h3 class="subheading">
      Hello! My name is <strong>Konstantine Janjgava</strong>
      Front-end Developer with 1+ years of experience designing, developing, and
      managing sites and internal frameworks. Specializes in Angular & Vue.JS.
    </h3>
    <p></p>
    <div class="info-list row">
      <div class="col-sm-6"><span>Name : </span>Konstantine Janjgava</div>
      <!-- <div class="col-sm-6"><span>Date of Birth : </span> March 22, 1993 </div> -->
      <div class="col-sm-6"><span>Location : </span> Tbilisi, Georia.</div>
      <div class="col-sm-6"><span>Email : </span> kote.janjgava@gmail.com</div>
      <div class="col-sm-6"><span>Phone : </span> + 995 579 99 91 12</div>
      <div class="col-sm-6">
        <span>Interests : </span> Frelance, Full/Half-Time
      </div>
    </div>
  </div>
  <div class="block-content">
    <h3 class="block-title">Personal Skills</h3>
    <ol>
      <li>
        <h2>Critical thinking, creativity, and problem-solving</h2>
      </li>
      <li>
        <h2>Constantly learning and improving</h2>
      </li>
      <li>
        <h2>Team-player who can also work independently.</h2>
      </li>
      <li>
        <h2>Management (people, time and project)</h2>
      </li>
      <li>
        <h2>Excellent written and verbal communication skills</h2>
      </li>
    </ol>
  </div>
  <div class="block-content">
    <h3 class="block-title">Experience</h3>
    <div class="timeline experience">
      <div class="row">
        <div class="col-md-12">
          <div class="exp-holder">
            <div>
              <div class="exp">
                <div class="hgroup">
                  <h4>
                    <span>IT Support Specialist</span> - LTD Georgian Gas
                    Transportation Company, Tbilisi
                  </h4>
                  <h5>Mar 2021 - Present</h5>
                </div>
                <p>
                  Responsible for testing, configuring, troubleshooting
                  hardware, software, and monitoring systems to meet the needs
                  of the company.
                </p>
              </div>
              <div class="exp">
                <div class="hgroup">
                  <h4><span>Junior Front-end Developer</span> - Digital TV</h4>
                  <h5>Aug 2020 - Jan 2021</h5>
                </div>
                <p>
                  My role was to write and style the front-end components and
                  pages that meet the requirements of the company. Technologies
                  used: Vue.js; Quasar framework; Firebase; Javascript; HTML &
                  CSS
                </p>
              </div>
              <div class="exp">
                <div class="hgroup">
                  <h4><span>Intern web developer</span> - Tbilisi Railway</h4>
                  <h5>Jan 2020 - Apr 2020</h5>
                </div>
                <p>Gained experience in C#,SQL,.net and Windows forms</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block-content">
    <h3 class="block-title">Education</h3>
    <div class="timeline education">
      <div class="row">
        <div class="col-md-12">
          <div class="exp-holder">
            <div>
              <div class="exp">
                <div class="hgroup">
                  <h4>
                    FrontEnd Development
                    <span>EPAM University Program</span>
                  </h4>
                  <h5>Dec 2021</h5>
                </div>
                <p>
                  This program has been developed for talented students and
                  career changers with basic prior engineering study and without
                  work experience in IT. Participants will receive the necessary
                  level of knowledge and practical experience to enable you to
                  begin a successful career in IT. The program focuses on the
                  most useful and practical information for starting out in
                  Front-End Development.
                </p>
              </div>
            </div>
            <div>
              <div class="exp">
                <div class="hgroup">
                  <h4>
                    Angular Front End Development, Tbilisi School of
                    Communication

                    <span>Tbilisi School of Communication</span>
                  </h4>
                  <h5>Oct 2021</h5>
                </div>
                <p>
                  Develop modern, complex, responsive and scalable web
                  applications with Angular 13
                </p>
              </div>
            </div>
            <div>
              <div class="exp">
                <div class="hgroup">
                  <h4>
                    Angular - The Complete Guide (2022 Edition)

                    <span>Udemy.com</span>
                  </h4>
                  <h5>Oct 2021</h5>
                </div>
                <p>
                  Develop modern, complex, responsive and scalable web
                  applications with Angular 13
                </p>
              </div>
            </div>
            <div>
              <div class="exp">
                <div class="hgroup">
                  <h4>
                    Quasar V1: Cross-Platform Apps (with Vue 2, Vuex &
                    Firebase),

                    <span>Udemy.com</span>
                  </h4>
                  <h5>Oct 2020 - Dec 2020</h5>
                </div>
                <p>
                  How to create a real-world, cross-platform app for web, iOS,
                  Android, Mac and Windows using Quasar Framework V1 and
                  Firebase
                </p>
              </div>
            </div>
            <div>
              <div class="exp">
                <div class="hgroup">
                  <h4>
                    Ilia State University, Tbilisi

                    <span>Bachelor of Business and Management</span>
                  </h4>
                  <h5>Oct 2011 - Jul 2016</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block-content">
    <h3 class="block-title">Professional Skills</h3>
    <div class="row">
      <div class="col-md-4 col-sm-6 service">
        <div class="service-icon">
          <img
            class="animated_logo"
            id="currentPhoto"
            src="assets/images/logos/htmllogo.png"
            onerror="this.onerror=null; this.src='Default.jpg'"
            alt="logo"
          />
        </div>
        <h4>Html</h4>
        <p>Good knowledge of Html</p>
      </div>
      <div class="col-md-4 col-sm-6 service">
        <div class="service-icon">
          <img
            class="animated_logo"
            id="currentPhoto"
            src="assets/images/logos/javascript.png"
            onerror="this.onerror=null; this.src='Default.jpg'"
            alt="logo"
          />
        </div>
        <h4>Javascript</h4>
        <p>Good knowledge and understanding of JavaScript</p>
        <p>Writing code that may be used in the future</p>
      </div>
      <div class="col-md-4 col-sm-6 service">
        <div class="service-icon">
          <img
            class="animated_logo"
            id="currentPhoto"
            src="assets/images/logos/css.png"
            onerror="this.onerror=null; this.src='Default.jpg'"
            alt="logo"
          />
          <img
            class="animated_logo"
            id="currentPhoto"
            src="assets/images/logos/sass.png"
            onerror="this.onerror=null; this.src='Default.jpg'"
            alt="logo"
          />
          <img
            class="animated_logo"
            id="currentPhoto"
            src="assets/images/logos/bootstrap.png"
            onerror="this.onerror=null; this.src='Default.jpg'"
            alt="logo"
          />
        </div>
        <h4>Styles</h4>
        <p>
          Making beautiful styles using css|scss|sass and CSS frameworks like
          Bootstrap , Angular Material and others.
        </p>
      </div>
      <div class="col-md-4 col-sm-6 service">
        <div class="service-icon">
          <img
            class="animated_logo"
            id="currentPhoto"
            src="assets/images/logos/angular.png"
            onerror="this.onerror=null; this.src='Default.jpg'"
            alt="logo"
          />
        </div>
        <h4>Angular</h4>
        <ol>
          <li>
            Designing and developing user interfaces using angularJS best
            practices
          </li>

          <li>
            Adapting interface for modern internet applications using the latest
            front-end technologies.
          </li>

          <li><p>Writing JavaScript, Typescript, CSS, and HTML.</p></li>
        </ol>
      </div>
      <div class="col-md-4 col-sm-6 service">
        <div class="service-icon">
          <img
            class="animated_logo"
            id="currentPhoto"
            src="assets/images/logos/github.png"
            onerror="this.onerror=null; this.src='Default.jpg'"
            alt="logo"
          />
          <img
            class="animated_logo"
            id="currentPhoto"
            src="assets/images/logos/gitlab.png"
            onerror="this.onerror=null; this.src='Default.jpg'"
            alt="logo"
          />
        </div>
        <h4>Github / Gitlab</h4>
        <p>Experienced with git collaboration</p>
      </div>
      <div class="col-md-4 col-sm-6 service">
        <div class="service-icon">
          <img
            class="animated_logo"
            id="currentPhoto"
            src="assets/images/logos/typescript.png"
            onerror="this.onerror=null; this.src='Default.jpg'"
            alt="logo"
          />
        </div>
        <h4>Typescript</h4>
        <p>Experience with Angular+Typescript</p>
      </div>
    </div>
  </div>
  <!--  <div class="block-content">
          <h3 class="block-title">Awards</h3>
          <div class="row">
              <div class="col-md-3 col-sm-6 awards">
                  <img src="assets\images\awards\1.jpeg" alt="">
              </div>
              <div class="col-md-3 col-sm-6 awards">
                  <img src="assets\images\awards\2.jpeg" alt="">
              </div>
              <div class="col-md-3 col-sm-6 awards">
                  <img src="assets\images\awards\3.jpeg" alt="">
              </div>
              <div class="col-md-3 col-sm-6 awards">
                  <img src="assets\images\awards\4.jpeg" alt="">
              </div>
          </div>
      </div> -->
  <!-- <div class="block-content">
    <h3 class="block-title">Testimonios</h3>
    <div class="row">


    </div>
  </div> -->
  <div class="row text-center">
    <div class="col-md-12 btn-email">
      <a class="btn lowercase">kote.janjgava@gmail.com</a>
    </div>
  </div>
</section>
