 /* h1 animation */
h1{
  color: wheat;
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer
}
h1 span{
  transition: .5s linear
}
h1:hover span:nth-child(1){
  margin-right: 5px
}
h1:hover span:nth-child(1):after{
  content: "";
}
h1:hover span:nth-child(2){
  margin-left: 30px
}
h1:hover span{
  color: #fff;
  text-shadow: 0 0 10px #fff,
               0 0 20px #fff,
               0 0 40px #fff;
}


/* h2 animation  */

h3{
  color: #16b8f3;
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer
}
h3 span{
  transition: .5s linear
}
h3:hover span:nth-child(1){
  margin-right: 5px
}
h3:hover span:nth-child(1):after{
  content: "";
}
h3:hover span:nth-child(2){
  margin-left: 30px
}
h3:hover span{
  color: #fff;
  text-shadow: 0 0 10px #fff,
               0 0 20px #fff,
               0 0 40px #fff;
}
