<section class="content">
  <div class="block-content">
    <h3 class="block-title">Portfolio</h3>
    <div class="row">
      <div class="col-md-12">
        <!-- <div class="filters">
          <span>Filters :</span>
          <ul id="filters">
            <li class="active" data-filter="*">All</li>
            <li data-filter=".artwork">Art Work</li>
            <li data-filter=".webdesign">Web Design</li>
            <li data-filter=".design">Design</li>
          </ul>
        </div> -->
        <div class="portfolio-container row isotope" id="portfolio-container">
          <!-- WORK 1 START -->
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
            <a href="project-2.html">
              <div class="portfolio-column">
                <div class="portfolio-hover">
                  <div class="portfolio-content">
                    <h2>Designer Shop</h2>
                  </div>
                  <div class="portfolio-overlay"></div>
                </div>
                <img
                  src="assets\images\portfolio\masonry\09.png"
                  alt="screenshot"
                />
              </div>
            </a>
          </div>
          <!-- WORK 1 END -->
          <!-- WORK 2 START -->
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webdesign">
            <a class="open-project" href="project-2.html">
              <div class="portfolio-column">
                <div class="portfolio-hover">
                  <div class="portfolio-content">
                    <h2>Real Estate Agencies</h2>
                  </div>
                  <div class="portfolio-overlay"></div>
                </div>
                <img src="assets\images\portfolio\masonry\01.png" alt="" />
              </div>
            </a>
          </div>
          <!-- WORK 2 END -->
          <!-- WORK 3 START -->
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webdesign">
            <a class="open-project" href="project-3.html">
              <div class="portfolio-column">
                <div class="portfolio-hover">
                  <div class="portfolio-content">
                    <h2>Supermarket</h2>
                    <hr />
                    <p>fresh food market</p>
                  </div>
                  <div class="portfolio-overlay"></div>
                </div>
                <img src="assets\images\portfolio\masonry\02.png" alt="" />
              </div>
            </a>
          </div>
          <!-- WORK 3 END -->
          <!-- WORK 4 START -->
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
            <a class="open-project" href="project-4.html">
              <div class="portfolio-column">
                <div class="portfolio-hover">
                  <div class="portfolio-content">
                    <h2>Travel Agencie</h2>
                  </div>
                  <div class="portfolio-overlay"></div>
                </div>
                <img src="assets\images\portfolio\masonry\03.png" alt="" />
              </div>
            </a>
          </div>
          <!-- WORK 4 END -->
          <!-- WORK 5 START -->
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item design">
            <a class="open-project" href="project-5.html">
              <div class="portfolio-column">
                <div class="portfolio-hover">
                  <div class="portfolio-content">
                    <h2>Personal Trainer website</h2>
                  </div>
                  <div class="portfolio-overlay"></div>
                </div>
                <img src="assets\images\portfolio\masonry\04.png" alt="" />
              </div>
            </a>
          </div>
          <!-- WORK 5 END -->
          <!-- WORK 6 START -->
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item design">
            <a class="open-project" href="project-6.html">
              <div class="portfolio-column">
                <div class="portfolio-hover">
                  <div class="portfolio-content">
                    <h2>Stake house website</h2>
                  </div>
                  <div class="portfolio-overlay"></div>
                </div>
                <img src="assets\images\portfolio\masonry\05.png" alt="" />
              </div>
            </a>
          </div>
          <!-- WORK 6 END -->
          <!-- WORK 7 START -->
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webdesign">
            <a class="open-project" href="project-1.html">
              <div class="portfolio-column">
                <div class="portfolio-hover">
                  <div class="portfolio-content">
                    <h2>Local travel agency</h2>
                  </div>
                  <div class="portfolio-overlay"></div>
                </div>
                <img src="assets\images\portfolio\masonry\06.png" alt="" />
              </div>
            </a>
          </div>
          <!-- WORK 7 END -->
          <!-- WORK 8 START -->
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
            <a class="open-project" href="project-2.html">
              <div class="portfolio-column">
                <div class="portfolio-hover">
                  <div class="portfolio-content">
                    <h2>Cafe website</h2>
                    <hr />
                    <p>View details.</p>
                  </div>
                  <div class="portfolio-overlay"></div>
                </div>
                <img src="assets\images\portfolio\masonry\07.png" alt="" />
              </div>
            </a>
          </div>
          <!-- WORK 8 END -->
          <!-- WORK 9 START -->
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item design">
            <a class="open-project" href="project-1.html">
              <div class="portfolio-column">
                <div class="portfolio-hover">
                  <div class="portfolio-content">
                    <h2>Lawyer's Website</h2>
                    <hr />
                    <p>View details.</p>
                  </div>
                  <div class="portfolio-overlay"></div>
                </div>
                <img src="assets\images\portfolio\masonry\08.png" alt="" />
              </div>
            </a>
          </div>
          <!-- WORK 9 END -->
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12 btn-email">
      <button type="submit" class="btn v7">
        <a href="mailto:kote.janjgava@gmail.com"> kote.janjgava@gmail.com </a>
      </button>
    </div>
  </div>
</section>
